@page "/"
@attribute [Authorize]

<style>
    tr {
        line-height: 50px;
    }
</style>

<div class="lg:m-12 p-6 shadow-md rounded-lg flex flex-col items-center justify-center w-full lg:w-2/4">
    
    <div class="flex flex-row items-center justify-center gap-4 text-gray-500">
        <button @onclick="PreviousYear">
            <Icon Name="IconName.ArrowLeft" />
        </button>
        <span class="font-bold">@currentYear</span>
        <button @onclick="NextYear">
            <Icon Name="IconName.ArrowRight" />
        </button>
    </div>

    <div class="grid grid-cols-4 md:grid-cols-6 lg:grid-cols-12 gap-4 border-b-2 my-2 mx-4">
        @foreach (var month in months)
        {
            <button @onclick="@(() => SetMonth(month))" class="@(month == currentMonth ? "text-orange-600 font-bold" : "text-gray-500")">@DateTimeFormatInfo.CurrentInfo.GetMonthName(month).Substring(0,3)</button>
        }
    </div>

    <table class="w-full">
        <thead class="border-b-16 border-transparent text-center">
            <tr>
                @foreach(var day in days)
                {
                    <th class="uppercase text-gray-500 font-extrabold">@DateTimeFormatInfo.CurrentInfo.GetDayName(day).Substring(0,3)</th>
                }
            </tr>
        </thead>
        <tbody class="text-center">
            @for (int week = 0; week < weeksInMonth; week++)
            {
                <tr class="">
                    @for (int day = 0; day < 7; day++)
                    {
                        var date = startOfMonth.AddDays((week * 7) + day - ((int)startOfMonth.DayOfWeek - (int)days.First()));
                        var isCurrentWeek = GetWeekOfYear(date) == GetWeekOfYear(DateTime.Today) && date.Year == DateTime.Today.Year;
                        var isToday = date.Date == DateTime.Today;

                        <td class="@(date.Month == startOfMonth.Month ? "" : "text-gray-300") @(isToday ? "text-orange-500 font-bold" : "") @(isCurrentWeek ? "current-week" : "")">
                            <a href="@("/reflections/" + date.ToString("yyyy-MM-dd"))" class="hover:text-orange-600 relative">
                                @if (date.Day < 10)
                                {
                                    @("0")
                                }
                                @date.Day
                                @if(reflections.Any(c => c.Date.Equals(DateOnly.FromDateTime(date))))
                                {
                                    <div class="absolute top-0 left-6 h-1.5 w-1.5 bg-green-600 rounded-full"></div>
                                }
                            </a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
