@page "/reflections/{Date}"
@using Blazorise.Markdown
@using Blazorise.Snackbar

<Snackbar @ref="snackbarPrimary" Color="SnackbarColor.Light">
    <SnackbarBody Class="text-gray-700 flex flex-row justify-center items-center">
    <Icon Name="IconName.Check" Class="mr-3"/>
    <Span>Saved changes</Span>
  </SnackbarBody>
</Snackbar>

<Modal @ref="modalRef">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Delete</ModalTitle>
        </ModalHeader>
        <ModalBody>
            Confirm the deletion
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Light" Clicked="@CancelModal">Cancel</Button>
            <Button Color="Color.Danger" Clicked="@Delete" Outline="false">Delete</Button>
        </ModalFooter>
    </ModalContent>
</Modal>

<div class="flex flex-col items-center justify-center w-full gap-4">
    <div class="flex flex-row items-center justify-center gap-3 text-gray-600">

        @if (isNew)
        {
            <Badge Class="bg-orange-400 text-white">New</Badge>
        }
        else
        {
            <Badge Class="bg-orange-600 text-white">Edit</Badge>
        }

        <h3>@dateOnly.ToLongDateString()</h3>
        <button @onclick="Save">
            <Icon Name="IconName.Save" />
        </button>
        @if (isNew is false)
        {
            <button @onclick="OpenModal">
                <Icon Name="IconName.Delete" />
            </button>
        }
    </div>
    <div class="w-3/4">
        <Markdown Value="@note.MarkdownValue" ValueChanged="@OnMarkdownValueChanged" UploadImage="false">
        </Markdown>
    </div>

</div>